@font-face {
	font-family: 'Corbel';
	src: url('../corbel/CORBEL.TTF');
}
@font-face {
	font-family: 'Corbel B';
	src: url('../corbel/CORBELB.TTF');
}
@font-face {
	font-family: 'Corbel I';
	src: url('../corbel/corbeli.ttf');
}
@font-face {
	font-family: 'Corbel Z';
	src: url('../corbel/corbelz.ttf');
}
@font-face {
	font-family: 'Corbel Italic';
	src: url('../corbel/CorbelItalic.ttf');
}
@font-face {
	font-family: 'Corbel Bold';
	src: url('../corbel/CorbelBold.ttf');
}
@font-face {
	font-family: 'Corbel Bold Italic';
	src: url('../corbel/CorbelBoldItalic.ttf');
}

/* ===== PAGE CSS ==== */
	* {
		padding: 0;
		margin: 0;
		box-sizing: border-box;
	}

/* ===== BODY CSS ===== */
	body {
		font-family: Corbel Bold;
		color: #333;
		/*background: #0b1803;*/
	}
	body li {
		list-style: none;
	}
	body a {
		text-decoration: none;
		color: #333;
		font-family: Corbel B;
	}

/* ===== SELF CLASS CSS ===== */
	.container-fluid {
		width: 100%;
	}
	.container {
		max-width: 80%;
		margin: 0 auto;
	}
	.fs-10 {
		font-size: 10px;
	}
	.fs-20 {
		font-size: 20px;
	}
	.fs-25 {
		font-size: 25px;
	}
	.fs-30 {
		font-size: 30px;
	}
	.fs-35 {
		font-size: 35px;
	}
	.fs-40 {
		font-size: 40px;
	}
	.fs-50 {
		font-size: 50px;
	}
	.text-left {
		text-align: left;
	}
	.text-right {
		text-align: right;
	}
	.text-center-by-column {
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

/* ===== ID: TOP CSS ===== */
	#top {
		padding: 10px 0;
		background: #0b1803;
		font-size: 15px;
	}
	#top ul {
		display: flex;
		max-width: 80%;
		margin: 0 auto;
		justify-content: space-between;
		align-items: center;
	}
	#top ul li a {
		color: #fff;
	}

/* ===== ID: AFTER TOP CSS ===== */
	#after-top {
		padding: 10px 0;
		background: #0b1803;
		color: #fff;
		font-size: 15px;
	}
	#after-top .container {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	#after-top .container a {
		border: 1.5px solid #6dce0e;
		padding: 12px 20px 8px 20px;
		border-radius: 5px;
		transition: .3s;
		background: #6dce0e;
		/*color: #0b1803;*/
		color: #fff;
	}

/* ===== ID: NAVBAR CSS ===== */
	.navbar {
		width: 100%;
		background: #fff;
		transition: top 0.3s;
	}
	.navbar ul {
		display: flex;
		justify-content: space-around;
		padding: 40px;
		font-size: 20px;
	}
	.navbar ul li a {
		padding: 10px 20px;
		border-radius: 5px;
		transition: .3s;
	}
	.navbar ul li:hover a {
		color: #0b1803;
	}
	.nav-active {
		top: 0;
		position: fixed;
		box-shadow: 0 .5rem .5rem rgba(0,0,0,.15)!important;
		z-index: 9999;
	} .nav-active ul {
		padding: 20px;
	}

/* ===== ID: HEADER CSS ===== */
	#header {
		text-align: center;
		padding: 30px 0;
	}
	#header .row {
		width: 100%;
		display: flex;
	}
	#header .row .img-block {
		width: 50%;
		padding: 0 50px 0 0;
	}
	#header .row .img-block img {
		width: 100%;
	}
	#header .row .text-block {
		width: 50%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		text-align: right;
		align-items: end;
		font-family: Corbel;
		font-size: 18px;
	}
	#header .row .text-block p:first-child {
		font-size: 30px;
		font-family: Corbel B;
	}
	#header .row .text-block .color-red {
		color: #821a24;
	}
	#header .row .text-block a {
		background: #6dce0e;
		padding: 12px 20px 8px 20px;
		border-radius: 5px;
		/*color: #0b1803;*/
		color: #fff;
		box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
	}

/* ===== ID: ABOUT CSS ===== */
	#about {
		padding: 80px 0;
		background: #f1f3f5;
	}
	#about .container {
		text-align: center;
	}
	#about .container .h2 {
		margin-bottom: 0;
		font-size: 28px;
		padding: 0 80px;
	}
	#about .row {
		width: 100%;
		display: flex;
		padding: 50px 0 0 0;
	}
	#about .row .col-4 {
		width: 35%;
		text-align: center;
		padding: 0 20px;	
	}
	#about .row .col-4 .img-container img {
		width: 70%;
		border: 1px solid #333;
		border-radius: 50%;
		box-shadow: 0px 0px 23px 0px #bfbfbf;
	}
	#about .row .col-4 .text-container {
		padding: 30px 30px 10px 30px;
		font-family: Corbel;
		font-size: 17px;
	}
	#about .row .col-4 .text-container span {
		font-family: Corbel Italic;
	}
	#about .row .col-8 {
		width: 65%;
		padding: 0 70px;
		text-align: center;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	#about .row .col-8 p {
		font-size: 23px;
		padding-bottom: 30px;
		font-family: Corbel;
	}
	#about .row .col-8 a {
		width: 200px;
		background: #6dce0e;
		padding: 12px 20px 8px 20px;
		border-radius: 5px;
		/*color: #0b1803;*/
		color: #fff;
		box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
		transition: .3s ease;
	}

/* ===== ID: QUESTION CSS ===== */
	#question {
		padding: 80px 0;
	}
	#question .container {
		text-align: center;
	}
	#question .container .fs-30 {
		padding: 0 150px;
	}
	#question .container .fs-25 {
		font-family: Corbel Italic;
		padding: 50px 0;
	}
	#question .container hr {
		width: 150px;
		margin: 15px auto 0;
		height: 3px;
		background: #6dce0e;
		border: 0;
	}
	#question .container .row {
		display: flex;
		justify-content: space-between;
		padding: 30px 0;
	}
	#question .container .row .col-4 {
		width: 33.33%;
		padding: 20px;
		text-align: left;
	}
	#question .container .row .col-4 .text-container {
		box-shadow: 0 0 15px 0 rgba(0, 0, 0, .1)!important;
		padding: 30px;
		border-radius: 5px;
		border: 1px solid #fff;
	}
	#question .container .row .col-4 p {
		font-family: Corbel!important;
		font-size: 17px;
		padding: 15px 0 0 0;
	}
	#question .container .row .col-4 img {
		width: 20%;
	}
	#question .container .row .col-4 .text-container:hover {
		border: 1px solid #6dce0e;
	}

/* ===== ID: ANSWER CSS ===== */
	#answer {
		padding: 80px 0;
		background: #f1f3f5;
	}	
	#answer .container {
		text-align: center;
	}
	#answer .container .fs-30 {
		padding: 0 100px;
	}
	#answer .container .fs-20 {
		padding: 50px 100px;
		font-family: Corbel;
	}
	#answer .container .row{
		width: 100%;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		padding: 50px 0;
	}
	#answer .container .row .col-6 {
		width: 50%;
		padding: 30px;
	}
	#answer .container .row .col-6 .size-20 {
		font-size: 20px;
	}
	#answer .container .row .col-6 img {
		width: 100%;
		border-radius: 10px;
		box-shadow: 0 0 30px 1px rgba(0,0,0,.175)!important;
	}
	#answer .container .href-container {
		width: 100%;
		height: 100%;
		padding: 20px 0 30px 0;
	}
	#answer .container .href-container a {
		background: #6dce0e;
		padding: 18px 25px 14px 25px;
		border-radius: 5px;
		/*color: #0b1803;*/
		color: #fff;
		font-size: 18px;
		box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
	}

/* ===== ID: COMMENT CSS ===== */
	#comment {
		padding: 80px 0;
	}
	#comment .comment-title {
		text-align: center;
	}
	#comment .slider {
		padding: 50px 0;
	}
    #commnet .slider__container {
		padding-left: 0;
		padding-right: 0;
	}
	#comment .slider__items {
		counter-reset: slide;
	}
	#comment .slider__item {
		flex: 0 0 100%;
		max-width: 100%;
		counter-increment: slide;
		position: relative;
	}
	#comment .slider__item .row {
		display: flex;
		flex-direction: row;
	}
	#comment .slider__item .col-4 {
		width: 30%;
		padding: 0 0 0 50px;
		text-align: center;
	}
	#comment .slider__item .col-4 img {
		width: 60%;
		border-radius: 50%;
		border: 2px solid #6dce0e;
		padding: 2px;
	}
	#comment .slider__item .col-8 {
		width: 70%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		padding: 0 50px 0 0;
	}

/* ===== ID: ABOUT TROLLEYS CSS ===== */
	#about-trolleys {
		padding: 80px 0;
		background: #f1f3f5;
	}
	#about-trolleys .container h1 {
		padding: 0 100px;
	}
	#about-trolleys .about-trolleys-title {
		text-align: center;
	}
	#about-trolleys .about-trolleys-table {
		width: 70%;
		margin: 0 auto;
		text-align: center;
	}
	#about-trolleys table {
		display: table;
		width: 90%;
		border-spacing: 0;
		margin: 40px auto;
		border: 1px solid #333;
		border-bottom: 0;
		background: #fff;
	}
	#about-trolleys table thead {
		text-align: left;
	}
	#about-trolleys table thead tr th {
	    vertical-align: bottom;
	    border-bottom: 1px solid #333;
	    border-right: 1px solid #333;
	    padding: 12px 0 8px 10px;
	    font-family: Corbel Bold;
	    font-size: 20px;
	}
	#about-trolleys table thead tr th:last-child {
		border-right: 0;
	}
	#about-trolleys table tbody tr td {
		border-bottom: 1px solid #333;
		border-right: 1px solid #333;
		padding: 8px 10px;
		font-family: Corbel I;
	}
	#about-trolleys table tbody tr td:last-child {
		border-right: 0;
	}
	#about-trolleys .about-trolleys-image {
		text-align: center;
		padding: 40px 0;
	}
	#about-trolleys .about-trolleys-href {
		width: 100%;
		text-align: center;
		padding: 20px 0 30px 0;
	}
	#about-trolleys .about-trolleys-href a {
		background: #6dce0e;
		padding: 18px 25px 14px 25px;
		border-radius: 5px;
		/*color: #0b1803;*/
		color: #fff;
		font-size: 18px;
		box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
	}

/* ===== ID: COLLEAGUES CSS ===== */
	#colleagues {
		padding: 80px 0;
	}
	#colleagues .container h1 {
		text-align: center;
		padding: 0 150px;
	}
	#colleagues .container .row {
		display: flex;
		padding: 50px 0;
	}
	#colleagues .container .col-6 {
		width: 50%;
		padding: 0 20px;
	}
	#colleagues .container p {
		font-family: Corbel;
		font-size: 18px;
	}
	#colleagues .container img {
		width: 100%;
	}
	#colleagues .container .col-6:last-child {
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

/* ===== ID: CONTACT CSS ===== */
	#contact {
		padding: 80px 0;
		background: #f1f3f5;
	}
	#contact .container .fs-30 {
		text-align: center;
		padding: 0 150px;
	}
	#contact .container .row {
		display: flex;
		padding: 50px 0 0 0;
	}
	#contact .container .row .col-6 {
		width: 50%;
		padding: 0 20px;
	}
	#contact .container .row .col-6:first-child {
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
	#contact .container .row .col-6 p {
		padding-bottom: 20px;
		font-size: 20px;
		font-family: Corbel;
	}
	#contact .container .row .col-6 a {
		background: #6dce0e;
		padding: 12px 20px 8px 20px;
		border-radius: 5px;
		/*color: #0b1803;*/
		color: #fff;
		width: 23.5%;
		box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
	}
	#contact .container img {
		width: 100%;
	}

/* ===== ID: PURCHASE CSS ===== */
	#purchase {
		padding: 80px 0;
		background: #9fe831;
		color: #fff;
	}
	#purchase .container {
		text-align: center;
		padding: 0 120px;
	}

/* ===== ID: FORM CSS ===== */
	#form {
		padding: 80px 0;
	}
	#form .container .row {
		display: flex;
	}
	#form .container .row .col-6 {
		width: 50%;
		padding: 0 20px;
	}
	#form .container img {
		width: 100%;
	}
	#form .container .row .col-6:last-child {
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
	#form .container .row .col-6 p {
		padding-bottom: 20px;
		font-size: 20px;
		font-family: Corbel;
	}
	#form .container .row .col-6 a {
		background: #6dce0e;
		padding: 12px 20px 8px 20px;
		border-radius: 5px;
		/*color: #0b1803;*/
		color: #fff;
		width: 33.5%;
		transition: .3s ease;
		box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
	}

/* ===== ID: FOOTER NAVBAR CSS ===== */
	#footer-nav ul {
		display: flex;
		justify-content: space-around;
		align-items: center;
		padding: 40px;
		font-size: 20px;
	}
	#footer-nav ul li:last-child a {
		border: 1.5px solid #444;
		padding: 10px 20px;
		border-radius: 5px;
		transition: .3s;
	}
	#footer-nav ul li:last-child a:hover {
		background: #444;
		color: #fff;
	}

/* ===== ID: FOOTER CSS ===== */
	footer {
		padding: 30px 0;	
		background: #0b1803;
	}
	footer .container {
		text-align: center;
		font-family: Corbel;
		font-size: 17px;
		color: #fff;
	}
	footer ul {
		padding: 20px 0 0 0;
	}
	footer ul li a {
		color: #fff;
	}